<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>Dynamic Table</title>

  <!--dynamic table-->
  <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
  <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
  <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />

    <div th:replace="~{common :: commonHead}"></div>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="~{common :: #leftSide}"></div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div th:replace="~{common :: #headSide}"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Dynamic Table
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Data Tables</a>
                </li>
                <li class="active"> Dynamic Table </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Dynamic Table
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div id="dynamic-table_length" class="dataTables_length">
                                            <label><select class="form-control" size="1" name="dynamic-table_length" aria-controls="dynamic-table">
                                                <option value="10" selected="selected">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> records per page</label>
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="dataTables_filter" id="dynamic-table_filter">
                                            <label>Search: <input type="text" class="form-control" aria-controls="dynamic-table">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <table  class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>ID</th>
                                            <th>name</th>
                                            <th class="hidden-phone">age</th>
                                            <th class="hidden-phone">email</th>
                                            <th class="hidden-phone">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="gradeX" th:each="user,stat:${page.records}">
                                            <td th:text="${stat.count}"></td>
                                            <td th:text="${user.id}"></td>
                                            <td th:text="${user.name}"></td>
                                            <td class="center hidden-phone" th:text="${user.age}"></td>
                                            <td class="center hidden-phone" th:text="${user.email}"></td>
                                            <td>
                                                <a class="btn btn-danger btn-sm" th:text="删除" th:href="@{/user/delete/{id}(id = ${user.id},crrentPage = ${page.current})}"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Rendering engine</th>
                                            <th>Browser</th>
                                            <th>Platform(s)</th>
                                            <th class="hidden-phone">Engine version</th>
                                            <th class="hidden-phone">CSS grade</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                <!--分页条码-->
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="dataTables_info" id="dynamic-table_info">
                                            当前第[[${page.current}]]页 总共[[${page.pages}]]页 共[[${page.total}]]条数据
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="dataTables_paginate paging_bootstrap pagination">
                                            <ul>
                                                <li class="prev disabled"><a th:href="@{/dynamic_table(courrentPage = ${page.current} - 1)}">← Previous</a></li>
                                                <li th:class="${num == page.current ? 'active' : ''}" th:each="num:${#numbers.sequence(1,page.pages)}">
                                                    <a th:href="@{/dynamic_table(courrentPage = ${num})}">
                                                        [[${num}]]
                                                    </a>
                                                </li>
                                                <li class="next disabled"><a th:href="@{/dynamic_table(courrentPage = ${page.current} + 1)}">Next → </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>


        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2014 &copy; AdminEx by ThemeBucket
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<div th:replace="~{common :: commonscript}"></div>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>

<!--&lt;!&ndash;dynamic table initialization &ndash;&gt;-->
<!--<script src="js/dynamic_table_init.js"></script>-->

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>
<!--<div class="row-fluid">-->
<!--    <div class="span6">-->
<!--        <div class="dataTables_info" id="dynamic-table_info">Showing 1 to 6 of 6 entries</div>-->
<!--    </div>-->
<!--    <div class="span6">-->
<!--        <div class="dataTables_paginate paging_bootstrap pagination">-->
<!--            <ul>-->
<!--                <li class="prev disabled"><a href="#">← Previous</a></li>-->
<!--                <li class="active"><a href="#">1</a></li>-->
<!--                <li class="next disabled"><a href="#">Next → </a></li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
</html>
